#ttk__order-form--wrap.ttk__order-form--wrap {

	@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i');
	font-family: 'Roboto', sans-serif;

	* {
		margin: 0;
		padding: 0;
		outline: none;
		box-sizing: border-box;
		color: #333;
		font-weight: 300;
		font-size: 18px;
	}
	.ttk__order-form {
		input {
			&[type="text"],
			&[type="phone"],
			&[type="email"] {
				width: 100%;
				padding: 26px 20px 10px;
				font-size: 1em;
				color: #333;
				font-family: inherit;
				font-weight: inherit;
				border: 1px solid #ccc;
				cursor: pointer;

				&:focus {
					border-color: #777
				}

				&::placeholder {
					color: #fff;
				}

			}

			&.ttk__input__error {
				color: #E21A1A;
				border-color: #E21A1A;

				&::placeholder {
					color: #E21A1A;
					opacity: 0.75
				}

				&:focus {
					border-color: #E21A1A
				}
			}
		}

		[data-select] {
		}
	}

	.ttk__select-wrap {
		
		position: relative;

		&:before {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			top: 50%;
			right: 10px;
			border-top: 10px solid #ccc;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			margin-top: -5px;
		}

		&.ttk__input-wrap {

			input {
				&::placeholder {
					color: #777;
				}
			}

			label {
				top: 10px;
				font-size: 12px;
			}
		}

	}

	button {
		&[type='submit'] {
			width: 100%;
			padding: 15px;
			font-size: 1em;
			color: #fff;
			font-family: inherit;
			font-weight: inherit;
			border: 0;
			border-radius: 0;
			background: #E21A1A;
			cursor: pointer;
			font-size: 1em;
		}

		&:hover {
			background: #D20404;
		}

		&:active {
			position: relative;
			top: 1px;
			box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2) inset;
		}

	}
	.ttk__input-wrap {
		margin-top: 15px;
		position: relative;

		label {
			position: absolute;
			top: 19px;
			left: 20px;
			transition: 0.2s linear;

			&.ttk__order-input__focused {
				top: 10px;
				font-size: 12px;
			}
		}
	}


	.ttk__order-autocomplite {
		background: #fff;
		
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		z-index: 10;
		box-shadow: 0 -1px 0 #ababab inset;
		transition: 0.2s linear;

		&.ttk__order-autocomplite__limitted {
			
			overflow-y: scroll;
			overflow-x: hidden;
		}

	}

	.ttk__order-autocomplite-item {
		display: block;
		padding: 15px;
		text-decoration: none;
		color: #333;
		border: 1px solid #ababab;
		border-top: 0;

		&:not(.ttk__order-autocomplite-item__active) {

			&:hover {
				background: #004199;
				color: #fff;

				b {
					color: inherit;
				}
			}
		}

		&.ttk__order-autocomplite-item__active {
			color: #fff;
			background: #ccc;

			b {
				color: inherit;
			}
		}

		b {
			color: #005AD5;
		}
	}
}


