#ttk__order-form--wrap.ttk__order-form--wrap {

	@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i');
	font-family: 'Roboto', sans-serif;

	* {
		margin: 0;
		padding: 0;
		outline: none;
		box-sizing: border-box;
		color: #333;
		font-weight: 300;
		font-size: 18px;
	}
	.ttk__order-form {
		input {
			&[type="text"],
			&[type="phone"],
			&[type="email"] {
				width: 100%;
				padding: 15px;
				font-size: 1em;
				color: #333;
				font-family: inherit;
				font-weight: inherit;
				border: 1px solid #ccc;
				cursor: pointer;

				&:focus {
					border-color: #777
				}

			}

			&.ttk__input__error {
				color: #E21A1A;
				border-color: #E21A1A;

				&::placeholder {
					color: red;
					opacity: 0.75
				}
			}
		}
	}

	button {
		&[type='submit'] {
			width: 100%;
			padding: 15px;
			font-size: 1em;
			color: #fff;
			font-family: inherit;
			font-weight: inherit;
			border: 0;
			border-radius: 0;
			background: #E21A1A;
			cursor: pointer;
			font-size: 1em;

		}

		&:hover {
			background: #D20404;
		}

		&:active {
			position: relative;
			top: 1px;
			box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2) inset;
		}
	}
	.ttk__input-wrap {
		margin-top: 15px;
	}

	.ttk__input-wrap__address {
		position: relative;
	}

	.ttk__order-autocomplite {
		background: #fff;
		
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		z-index: 10;
		// height: 100px;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	.ttk__order-autocomplite-item {
		display: block;
		padding: 15px;
		text-decoration: none;
		color: #333;
		border: 1px solid #ababab;
		border-top: 0;

		&:not(.ttk__order-autocomplite-item__active) {

			&:hover {
				background: #004199;
				color: #fff;
			}
		}

		&.ttk__order-autocomplite-item__active {
			color: #fff;
			background: #ccc;
		}
	}

	
}


